In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
!ls "/content/drive/My Drive/"

'10th mark sheet.pdf'
'12th mark sheet.pdf'
 aadhar.pdf
 Automate_the_Boring_Stuff_onlinematerials.zip
'Colab Notebooks'
'community old.pdf'
 d68c2081-d4d1-417a-9a01-9560212a7d18.jpeg
'data science'
 EAadhaar_0636160621063420250113123959_170120257129.pdf
 IMG_0568.jpeg
 IMG_1270.png
 IMG_1663.jpeg
'lab model ex 6 v1.f3d'
'model lab ex 6.pdf'
'my passbook.pdf'
'Nov 2024 End Semester all I Sem UG Practical and Theory Schdeule-2.xlsx'
'Nov 2024 End Semester all I Sem UG Practical and Theory Schdeule.xlsx'
'QR-Human Values & Professional Ethics Template (1).docx'
'UNIT IV 100 MCQ.pdf'

In [ ]:
!ls "/content/drive/My Drive/data science"

ACTIVITIEs_19feb.txt  bank_train.csv

In [ ]:
file_path= "/content/drive/My Drive/data science/bank_train.csv"
df=pd.read_csv(file_path)
print(df)

      age          job   marital  education default  balance housing loan  \
0      76      retired   married  secondary      no   2302.0      no   no
1      66      retired  divorced    unknown      no     53.0      no   no
2      51   management   married   tertiary      no   2455.0     yes   no
3      41  blue-collar   married  secondary      no    356.0     yes   no
4      51   technician   married  secondary      no  -1944.0     yes   no
...   ...          ...       ...        ...     ...      ...     ...  ...
4461   33   management   married   tertiary      no    133.0     yes   no
4462   39     services  divorced  secondary      no    687.0     yes   no
4463   40       admin.    single  secondary      no   2040.0     yes   no
4464   31   technician    single  secondary      no    628.0     yes   no
4465   70      retired  divorced    primary      no    383.0      no   no

        contact  day month  duration  campaign  pdays  previous poutcome  \
0     telephone    5   feb       110         1     87         2  failure
1      cellular   12   jul       562         4     -1         0  unknown
2      cellular   21   jul       553         1     -1         0  unknown
3      cellular   14   may        90         5     -1         0  unknown
4      cellular    7   may       623         1     -1         0  unknown
...         ...  ...   ...       ...       ...    ...       ...      ...
4461    unknown   26   may       308         4     -1         0  unknown
4462   cellular    9   jul       869         1     -1         0  unknown
4463   cellular   18   may       906         2    350         2  failure
4464    unknown   12   may      1083         2     -1         0  unknown
4465   cellular   28   apr        50         2     -1         0  unknown

     deposit
0         no
1        yes
2        yes
3         no
4        yes
...      ...
4461      no
4462     yes
4463     yes
4464      no
4465      no

[4466 rows x 17 columns]

In [ ]:
df.describe()

,age,balance,day,duration,campaign,pdays,previous
count,4466.000000,4465.000000,4466.000000,4466.000000,4466.000000,4466.000000,4466.000000
mean,41.100090,1484.334378,15.740484,371.089342,2.484774,52.880878,0.866995
std,11.905566,3253.910473,8.448066,346.904391,2.633638,111.146726,2.381197
min,18.000000,-3058.000000,1.000000,3.000000,1.000000,-1.000000,0.000000
25%,32.000000,107.000000,8.000000,137.000000,1.000000,-1.000000,0.000000
50%,38.000000,539.000000,16.000000,256.000000,2.000000,-1.000000,0.000000
75%,49.000000,1728.000000,22.000000,485.000000,3.000000,64.750000,1.000000
max,93.000000,81204.000000,31.000000,3284.000000,43.000000,828.000000,41.000000

In [ ]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,76,retired,married,secondary,no,2302.0,no,no,telephone,5,feb,110,1,87,2,failure,no
1,66,retired,divorced,unknown,no,53.0,no,no,cellular,12,jul,562,4,-1,0,unknown,yes
2,51,management,married,tertiary,no,2455.0,yes,no,cellular,21,jul,553,1,-1,0,unknown,yes
3,41,blue-collar,married,secondary,no,356.0,yes,no,cellular,14,may,90,5,-1,0,unknown,no
4,51,technician,married,secondary,no,-1944.0,yes,no,cellular,7,may,623,1,-1,0,unknown,yes

In [ ]:
df.tail()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
4461,33,management,married,tertiary,no,133.0,yes,no,unknown,26,may,308,4,-1,0,unknown,no
4462,39,services,divorced,secondary,no,687.0,yes,no,cellular,9,jul,869,1,-1,0,unknown,yes
4463,40,admin.,single,secondary,no,2040.0,yes,no,cellular,18,may,906,2,350,2,failure,yes
4464,31,technician,single,secondary,no,628.0,yes,no,unknown,12,may,1083,2,-1,0,unknown,no
4465,70,retired,divorced,primary,no,383.0,no,no,cellular,28,apr,50,2,-1,0,unknown,no

In [ ]:
df[df["age"].astype(int) > 30]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,76,retired,married,secondary,no,2302.0,no,no,telephone,5,feb,110,1,87,2,failure,no
1,66,retired,divorced,unknown,no,53.0,no,no,cellular,12,jul,562,4,-1,0,unknown,yes
2,51,management,married,tertiary,no,2455.0,yes,no,cellular,21,jul,553,1,-1,0,unknown,yes
3,41,blue-collar,married,secondary,no,356.0,yes,no,cellular,14,may,90,5,-1,0,unknown,no
4,51,technician,married,secondary,no,-1944.0,yes,no,cellular,7,may,623,1,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4461,33,management,married,tertiary,no,133.0,yes,no,unknown,26,may,308,4,-1,0,unknown,no
4462,39,services,divorced,secondary,no,687.0,yes,no,cellular,9,jul,869,1,-1,0,unknown,yes
4463,40,admin.,single,secondary,no,2040.0,yes,no,cellular,18,may,906,2,350,2,failure,yes
4464,31,technician,single,secondary,no,628.0,yes,no,unknown,12,may,1083,2,-1,0,unknown,no
4465,70,retired,divorced,primary,no,383.0,no,no,cellular,28,apr,50,2,-1,0,unknown,no

In [ ]:
df.loc[df["loan"]=="yes"]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
12,32,management,married,tertiary,no,9214.0,no,yes,unknown,18,oct,71,1,-1,0,unknown,no
13,50,services,divorced,secondary,yes,-210.0,no,yes,cellular,21,aug,153,7,-1,0,unknown,no
14,41,blue-collar,married,secondary,no,97.0,no,yes,cellular,8,jul,212,2,-1,0,unknown,no
22,29,blue-collar,married,primary,no,544.0,no,yes,cellular,21,jul,121,4,-1,0,unknown,no
25,55,entrepreneur,married,tertiary,no,323.0,yes,yes,cellular,13,may,200,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4451,41,blue-collar,married,primary,no,143.0,yes,yes,unknown,2,jun,659,2,-1,0,unknown,yes
4454,30,blue-collar,single,secondary,no,155.0,yes,yes,cellular,9,jul,1426,3,-1,0,unknown,yes
4457,43,management,married,tertiary,no,1336.0,yes,yes,cellular,27,may,82,2,309,1,failure,no
4458,32,blue-collar,married,primary,no,-454.0,yes,yes,cellular,18,may,801,5,355,2,failure,yes
4460,54,retired,married,secondary,no,522.0,no,yes,cellular,14,jul,81,3,-1,0,unknown,no

In [ ]:
df.loc[df["education"]=="primary"]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
7,34,blue-collar,married,primary,no,5299.0,yes,no,unknown,26,jun,75,5,-1,0,unknown,no
11,39,management,married,primary,no,1873.0,no,no,unknown,9,jun,161,2,-1,0,unknown,no
22,29,blue-collar,married,primary,no,544.0,no,yes,cellular,21,jul,121,4,-1,0,unknown,no
29,39,blue-collar,divorced,primary,no,1317.0,yes,no,cellular,20,nov,543,1,170,4,other,yes
30,55,blue-collar,married,primary,no,781.0,yes,no,cellular,3,feb,112,3,270,2,failure,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4447,48,blue-collar,married,primary,no,-254.0,no,yes,cellular,29,aug,134,4,-1,0,unknown,no
4451,41,blue-collar,married,primary,no,143.0,yes,yes,unknown,2,jun,659,2,-1,0,unknown,yes
4452,53,blue-collar,married,primary,no,421.0,yes,no,cellular,20,nov,677,1,-1,0,unknown,yes
4458,32,blue-collar,married,primary,no,-454.0,yes,yes,cellular,18,may,801,5,355,2,failure,yes
4465,70,retired,divorced,primary,no,383.0,no,no,cellular,28,apr,50,2,-1,0,unknown,no

In [ ]:
df.loc[df["deposit"]=="yes"]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
1,66,retired,divorced,unknown,no,53.0,no,no,cellular,12,jul,562,4,-1,0,unknown,yes
2,51,management,married,tertiary,no,2455.0,yes,no,cellular,21,jul,553,1,-1,0,unknown,yes
4,51,technician,married,secondary,no,-1944.0,yes,no,cellular,7,may,623,1,-1,0,unknown,yes
5,77,retired,married,unknown,no,1807.0,no,no,telephone,20,oct,373,1,-1,0,unknown,yes
8,33,management,married,tertiary,no,2599.0,no,no,cellular,30,apr,1373,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4454,30,blue-collar,single,secondary,no,155.0,yes,yes,cellular,9,jul,1426,3,-1,0,unknown,yes
4458,32,blue-collar,married,primary,no,-454.0,yes,yes,cellular,18,may,801,5,355,2,failure,yes
4459,37,technician,single,secondary,no,3326.0,yes,no,unknown,21,may,799,1,-1,0,unknown,yes
4462,39,services,divorced,secondary,no,687.0,yes,no,cellular,9,jul,869,1,-1,0,unknown,yes
4463,40,admin.,single,secondary,no,2040.0,yes,no,cellular,18,may,906,2,350,2,failure,yes

In [ ]:
df.loc[(df["deposit"]=="yes") & (df["housing"]=="yes") | (df["loan"]=="yes")]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
2,51,management,married,tertiary,no,2455.0,yes,no,cellular,21,jul,553,1,-1,0,unknown,yes
4,51,technician,married,secondary,no,-1944.0,yes,no,cellular,7,may,623,1,-1,0,unknown,yes
12,32,management,married,tertiary,no,9214.0,no,yes,unknown,18,oct,71,1,-1,0,unknown,no
13,50,services,divorced,secondary,yes,-210.0,no,yes,cellular,21,aug,153,7,-1,0,unknown,no
14,41,blue-collar,married,secondary,no,97.0,no,yes,cellular,8,jul,212,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4458,32,blue-collar,married,primary,no,-454.0,yes,yes,cellular,18,may,801,5,355,2,failure,yes
4459,37,technician,single,secondary,no,3326.0,yes,no,unknown,21,may,799,1,-1,0,unknown,yes
4460,54,retired,married,secondary,no,522.0,no,yes,cellular,14,jul,81,3,-1,0,unknown,no
4462,39,services,divorced,secondary,no,687.0,yes,no,cellular,9,jul,869,1,-1,0,unknown,yes
4463,40,admin.,single,secondary,no,2040.0,yes,no,cellular,18,may,906,2,350,2,failure,yes

In [ ]:
df.loc[(df["education"]=="secondary") & (df["deposit"]=="no") ]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,76,retired,married,secondary,no,2302.0,no,no,telephone,5,feb,110,1,87,2,failure,no
3,41,blue-collar,married,secondary,no,356.0,yes,no,cellular,14,may,90,5,-1,0,unknown,no
6,59,retired,married,secondary,no,136.0,no,no,cellular,6,aug,301,4,-1,0,unknown,no
9,44,blue-collar,married,secondary,no,879.0,yes,no,cellular,3,apr,383,1,-1,0,unknown,no
10,34,services,married,secondary,no,1637.0,yes,no,cellular,21,nov,107,4,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4446,35,services,married,secondary,no,0.0,yes,no,cellular,24,jul,810,1,-1,0,unknown,no
4453,31,services,married,secondary,no,505.0,no,no,cellular,11,jul,773,3,-1,0,unknown,no
4456,54,blue-collar,married,secondary,no,-102.0,yes,no,cellular,27,aug,164,7,-1,0,unknown,no
4460,54,retired,married,secondary,no,522.0,no,yes,cellular,14,jul,81,3,-1,0,unknown,no
4464,31,technician,single,secondary,no,628.0,yes,no,unknown,12,may,1083,2,-1,0,unknown,no

In [ ]:
df.loc[(df["deposit"]=="yes") & (df["campaign"]>0) ]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
1,66,retired,divorced,unknown,no,53.0,no,no,cellular,12,jul,562,4,-1,0,unknown,yes
2,51,management,married,tertiary,no,2455.0,yes,no,cellular,21,jul,553,1,-1,0,unknown,yes
4,51,technician,married,secondary,no,-1944.0,yes,no,cellular,7,may,623,1,-1,0,unknown,yes
5,77,retired,married,unknown,no,1807.0,no,no,telephone,20,oct,373,1,-1,0,unknown,yes
8,33,management,married,tertiary,no,2599.0,no,no,cellular,30,apr,1373,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4454,30,blue-collar,single,secondary,no,155.0,yes,yes,cellular,9,jul,1426,3,-1,0,unknown,yes
4458,32,blue-collar,married,primary,no,-454.0,yes,yes,cellular,18,may,801,5,355,2,failure,yes
4459,37,technician,single,secondary,no,3326.0,yes,no,unknown,21,may,799,1,-1,0,unknown,yes
4462,39,services,divorced,secondary,no,687.0,yes,no,cellular,9,jul,869,1,-1,0,unknown,yes
4463,40,admin.,single,secondary,no,2040.0,yes,no,cellular,18,may,906,2,350,2,failure,yes

In [ ]:
df.loc[(df["job"]=="retired") & (df["deposit"]=="no")]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,76,retired,married,secondary,no,2302.0,no,no,telephone,5,feb,110,1,87,2,failure,no
6,59,retired,married,secondary,no,136.0,no,no,cellular,6,aug,301,4,-1,0,unknown,no
43,55,retired,divorced,tertiary,no,816.0,no,no,cellular,18,nov,113,3,-1,0,unknown,no
88,58,retired,single,primary,no,6570.0,no,no,cellular,21,jul,106,3,-1,0,unknown,no
119,55,retired,married,primary,no,1821.0,no,no,cellular,8,aug,224,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4402,74,retired,married,tertiary,no,4912.0,no,no,telephone,21,oct,129,3,-1,0,unknown,no
4414,59,retired,married,primary,yes,-13.0,no,no,cellular,11,aug,77,1,-1,0,unknown,no
4427,58,retired,married,primary,no,0.0,no,no,cellular,4,aug,506,1,-1,0,unknown,no
4460,54,retired,married,secondary,no,522.0,no,yes,cellular,14,jul,81,3,-1,0,unknown,no
4465,70,retired,divorced,primary,no,383.0,no,no,cellular,28,apr,50,2,-1,0,unknown,no